<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório - geração PDF</title>
    <style>
        table {
            width: 100%;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
        <h1>Lista de Passageiros.</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>FlightNumber</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>                   
                <% passengers.forEach(element => { %>
                    <tr>
                        <td><%= element.name %> </td>
                        <td><%= element.flightNumber %> </td>
                        <td><%= element.time %> </td>
                    </tr>
                <% }); %>                                    
                
            </tbody>
            <tfoot>
                <tr>
                    <td><%= passengers.length %> Passageiros</td>
                </tr>
            </tfoot>
        </table>
        <br>
        <a href="/download">Download</a>
    </div>
</body>
</html>